/*Header stuff */
body {
margin:0px;
margin-left:7.5%;
margin-right:7.5%;
background-color:#6677cc;

}
#eccsgl_header {
width:100%;display:table;
}

#main_header {
width:80%;display:inline-block;border-right:2px solid black; display:table-cell;
background-color:#5555FF;
}

#eccsgl_title {
padding:5px;width:90%;
font-size:xx-large;
font-weight:bold;
padding-left:25px;
}

#eccsgl_title A:link {text-decoration: none;color:initial;}
#eccsgl_title A:visited {text-decoration: none;color:initial;}
#eccsgl_title A:active {text-decoration: none; color:initial;}
#eccsgl_title A:hover {text-decoration:none; color:initial;}

#navbar-container {
display:table-cell;
}

#navbar {
border-style:solid;border-width:2px;border-left:0px solid black;border-right:0px solid black;display:table;width:100%;
}

.navbar_wrapper {
display:table-cell;
border-width:1px;
border-style:solid;
width:15%;
padding:3px;
vertical-align:middle;
text-align:center;
}

.navbar_item {

}

.navbar_wrapper A:link {text-decoration: none;color:initial;}
.navbar_wrapper A:visited {text-decoration: none;color:initial;}
.navbar_wrapper A:active {text-decoration: none; color:initial;}
.navbar_wrapper A:hover {text-decoration:none; color:initial;}


#side_header {
width:20%;display:table-cell;padding-left:10px;
background-color:#5555FF;
text-align:center;
vertical-align:middle;
border-bottom:2px solid black;
}

/* main template stuff */

#main_page_area {
width:100%;overflow:auto;display:table;table-layout:fixed;position:relative;
background-color:white;
}

#main_content {
word-wrap:break-word;display:table-cell;width:65%;padding:10px;
}

#sidebar_content {
word-wrap:break-word;display:table-cell;width:35%;padding:25px;
}

/* Sidebar questions + answers */
.sidebar_question {
font-weight:bold;
display:block;
padding-bottom:5px;
padding-top:15px;
}

.sidebar_answer {
display:block;
padding-bottom:15px;
line-height:1.4;
}

/* General titles and subtitles */
.eccsgl_title {
display:block;
padding-bottom:15px;
font-weight:bold;
font-size: larger;
}

.eccsgl_subtitle {
display:block;
padding-bottom:10px;
font-size: large;
}

/* State handling messages */
#statedata {
padding-bottom:10px;
}

.state_message {
color:red;
}

/* match CSS */
.match {
padding:10px;
padding-bottom:20px;
margin:15px;
border-style:solid;
border-width:1px;
border-radius:25px;
}

.match_link_container A:link {text-decoration: none;color:initial;}
.match_link_container A:visited {text-decoration: none;color:initial;}
.match_link_container A:active {text-decoration: none; color:initial;}
.match_link_container A:hover {text-decoration:none; color:initial;}

.teamtext {
width:35%;
text-align:center;
}

.match_details {
text-align:center;
}

.matchopen {
background-color: #80FFBB;
}

.matchclosed {
background-color: #E0E8EF;
}

.teamtextleft {
float:left;margin-left:10%;
}

.teamtextright {
float:right;margin-right:10%;
}

.teamdetail {
display:block;
}

.gamewinner {
background-color:green;
}

.gameclosed {
background-color:grey;
}

/* Bet stuff */
.single_bet_short {
margin:10px;padding:10px;
}

.betting_section {
margin-top:20px;
}