<div id="eccsgl_header">
    <div id="main_header">
        <div id="eccsgl_title">
            <a href="/">
            Extra Comfy CSGL
            </a>
        </div>
        <div id="navbar_container">
        <div id="navbar">
            <div class="navbar_wrapper">
                <a href="/">
                    <div class="navbar_item">
                            Match Listing
                    </div>
                </a>
            </div>
            <div class="navbar_wrapper">
                <a href="/account/">
                    <div class="navbar_item">
                            Account Page
                    </div>
                </a>
            </div>
            <div class="navbar_wrapper">
                <a href="/faq/">
                    <div class="navbar_item">
                            FAQ
                    </div>
                </a>
            </div>

        </div>
            </div>
    </div>
    <div id="side_header">
        {% if account_exists %}
            Welcome <a href="/account/{{account.hash}}">{{account.shorthash}}</a> <br/> Your balance is ${{account.balance | floatformat:2}}.
        {% else %}
            Click <a href="/account/">here</a> to get an account.<br/> No sign-up required.
        {% endif %}
    </div>
</div>