<div id="eccsgl_header">
    <div id="main_header">
        <div id="eccsgl_title">
            Extra Comfy CSGL
        </div>
        <div id="navbar">
            <a href="/all_matches">
                Match listings
            </a>
            <a href="/account/">
                Account page
            </a>
            <a href="/faq/">
                FAQ (dead link)
            </a>
        </div>
    </div>
    <div id="side_header">
        {% if account_exists %}
            Welcome {{account.shorthash}} <br/> Your balance is ${{account.balance | floatformat:2}}.
        {% else %}
            Click <a href="/account/">here</a> to get an account.<br/> No sign-up required.
        {% endif %}
    </div>
</div>