{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">

</head><meta charset="UTF-8">
    <title>Extra Comfy Lounge (ECCSGL)</title>
    <link rel="stylesheet" type="text/css" href="{% static 'eccsgl.css' %}"/>
</head>
<body>
{% include "eccsgl_header.html" %}

<div id="main_page_area">
    <div id="main_content">
        {% include "statedata_block.html" %}
        {% block eccsgl_main_content %}{% endblock %}
    </div>
    <div id="sidebar_content">
        {% block eccsgl_sidebar %}{% endblock %}
    </div>
</div>
</body>
</html>