<div class="single_bet_short" style="margin:10px;border-style:solid;border-width:2px;padding:10px;">
    <a href="/match/{{bet.match.pk}}">Match {{bet.match.pk}}</a><br/>
    {{bet.match.team_1.name}} {% if bet.team == 1 %}(your bet){% endif %} V/S {{bet.match.team_2.name}}{%if bet.team == 2 %}(your bet){% endif %}<br/>
    You bet ${{bet.amount}}.<br/>
    {% if bet.status == bet.PENDING %}Match not yet concluded.{% endif %}
    {% if bet.status == bet.LOST %} You lost {% endif %}
    {% if bet.status == bet.WON %} You won. Profit: ${{bet.profit}} {% endif %}
    {% if bet.status == bet.CLOSED %} Bet was closed, bets returned.{% endif %} <br/>
</div>
