<div class="match">
    Match id = {{match_dict.match_id}} <br/>
    Time = {{match_dict.time}} <br/> 
    {% if match_dict.state == 2 %} MATCH LIVE <br/> {% endif %}
    Betting {% if match_dict.state == 1%} Open {% else %} Closed {% endif %} <br/>
    {% if match_dict.winner == 3 %} Game was closed (bets returned) <br/> {% endif %}
    <div class="team_details">
    {% if match_dict.winner == 1 %} WINNER {% else %} - {% endif %}		-		{% if match_dict.winner == 2 %} WINNER {% else %} - {% endif %} <br/>
    {{match_dict.team_1_name}}       VS         {{match_dict.team_2_name}} <br/>
    {{match_dict.team_1_odds}}       --         {{match_dict.team_2_odds}} <br/>
    </div>
</div>

<br/>
<br/>
