<div class="match" style="width:100%;padding-bottom:30px;border-style:solid;border-width:2px;">
    <br/>
    <div class="match_details" style="margin:10px;">
    Match id = <a href="/match/{{match_dict.match_id}}">{{match_dict.match_id}}</a> <br/>
    Time = {{match_dict.time}} <br/> 
    {% if match_dict.state == 2 %} MATCH LIVE <br/> {% endif %}
    Betting {% if match_dict.state == 1%} Open {% else %} Closed {% endif %} <br/>
    {% if match_dict.winner == 3 %} Game was closed (bets returned) <br/> {% endif %}
    </div>
    <div class="team_matchup">
            <div class="teamtext" style="width:35%; float:left;margin-left:10%;">
                {{match_dict.team_1_name}} <br/>
                {{match_dict.team_1_odds}} <br/>
                {% if match_dict.winner == 1 %} WINNER {% else %} - {% endif %} <br/>
            </div>
            <div class="teamtext" style="width:35%; float:right; margin-right:10%;">
                {{match_dict.team_2_name}} <br/>
                {{match_dict.team_2_odds}} <br/>
                {% if match_dict.winner == 2 %} WINNER {% else %} - {% endif %} <br/>
            </div>
    </div>
    <br/>
    <br/>

</div>