{% extends "main_template.html" %}

{% block eccsgl_main_content %}
    {% include "all_match_data.html" %}
{% endblock %}

{% block eccsgl_sidebar %}
    <span class="sidebar_question">
        Where am I?
    </span>
    <span class="sidebar_answer">
        Good question. Welcome to the Extra Comfy CS:GO Lounge, or Extra Comfy CSGL (ECCSGL for short). <br/>
        <a href="www.csgolounge.com">CS:GO Lounge (CSGL)</a> is a site where you can bet ingame skins on professional CS:GO matches. <br/>
        ECCSGL is a simulated version of CSGL, where no real money is bet. It's a proving ground to hone your betting skills in safety. <br/>
        If you have more questions, visit the <a href="/faq/">FAQ</a>.
    </span>
    <span class="sidebar_question">So I'd like to place a bet.</span>

    <span class="sidebar_answer">
        Well, first you need to have an account. Just look above this to see if you're logged in or not. <br/>
        If you are, then click on the match you're interested on here.
    </span>

    <span class="sidebar_question">Why does this website look so awful?</span>

    <span class="sidebar_answer">Because I'm awful at web design. And I released this in a rush. Expect a redesign soon.</span>
{% endblock %}