{% extends "main_template.html" %}

{% block eccsgl_main_content %}
    {% include "account_page.html" %}
{% endblock %}

{% block eccsgl_sidebar %}
    <span class="sidebar_question">OK, why are you calling me by 8 weird numbers and letters?</span>

    <span class="sidebar_answer">
        That is a randomly generated user ID assigned to each user on creating an account. <br/>
        It's easier than usernames (and has less pesky Data Protection Act issues) from my point of view, and I'm lazy. <br/>
    </span>

    <span class="sidebar_question">So how do I log in?</span>

    <span class="sidebar_answer">
        You shouldn't have to at all, your user ID is stored as a cookie and you should always be logged in when you arrive. <br/>
        (Also, by continuing to use this website you consent to cookies etc etc. European cookie law.) <br/>
        Despite that, you should probably bookmark this page. Even if you're logged out, coming back here (with the big jumble of letters and numbers at the end of the URL) will log you back in again.
    </span>

    <span class="sidebar_question">Isn't that really insecure?</span>

    <span class="sidebar_answer">
        Yes. <br/>
        ...but there's no actual money or items changing hands on this website, it's purely a tool. The emphasis is on being able to create throwaway accounts as often as you need/want for whatever purpose.
    </span>

    <span class="sidebar_question">So how much "money" do I have?</span>

    <span class="sidebar_answer">
        Everyone starts off with $100. The amount you currently have is listed on the left. Hopefully it's >=$100.
    </span>
{% endblock %}